.container {
    display: flex;
    background: orange;
    height: 120px;
    justify-content: space-evenly;
    align-items: center;
}

.item{
    background-color: black;
    border: white solid;
    color: #f00;
    width: 40px;
    height: 40px;
}