h1 {
    color: teal;
    background-color: black;
    width: 300px;
    height: 320px;
    padding: 60px;
    box-sizing: border-box;
    border: teal 10px solid;
    margin: 60px;
    font-size: 30px;
}

.red {
    color: red;
}

span {
    font-size: 25px;
}
