for i in (1..7)
    .color-{i}
        background-color hsl((i - 1)*40,100,50)
        height 200px
        flex-grow 1


.flexbox
    border solid
    border-radius 800px
    overflow hidden
    margin 150px
    display flex
    height 200px
