main-color=#f90
hr-size=5px

some-classes = '.abc.def'
thing = 'border'

h1
    color main-color
    background-color blue

button
    border main-color hr-size*3 solid

table{some-classes}
    {thing}-color main-color