block variables


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // title
            if var_title
                | #{var_title}
            else
                | Example of exdendible template
        link(rel="stylesheet", href="pico.css")
    body
        main
            if my_array
                each i in my_array
                    li=i