doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="switzerland.css")
    body
        .bg-red.w-32.flex-wrap
            .w-32.h-6
            <!-- next line  -->
            .w-13.h-7
            .w-6.h-7.bg-white
            .w-13.h-7
            <!-- next line  -->
            .w-6.h-6
            .w-20.h-6.bg-white
            .w-6.h-6
            <!-- next line  -->
            .w-13.h7
            .w-6.h-7.bg-white
            .w-13.h-7
            <!-- next line  -->
            .w-32.h-6
