unit = 10px

for i in (1..50)
    .w-{i}
        width unit*i
    
    .h-{i}
        height unit*i

.bg-red
    background-color #DA291C

.bg-white
    background-color #fff

.flex-wrap
    display flex
    flex-wrap wrap