extends parts/base

block title
    | Example of inheritance

block main
    h1 Example of inheritance
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid distinctio harum sed ipsam, quis iusto expedita explicabo ad eum debitis suscipit possimus pariatur, numquam fugiat libero quia perspiciatis, consequatur sit.