doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
    body.container
        header
            nav
                ol
                    a(href="home.min.html")
                        li Home
                    a(href="gallery.min.html")
                        li Gallery
                    a(href="about.min.html")
                        li About Us
        main
            block main