@require variable


h1 {
    color: color_primary;
    font-size std_size * 2
}

h2
    color color_primary
    font-size std_size * 1.8


button
    background-color color_primary

th
    border-color color_primary

.p-1
    padding 0.25rem
.p-2
    padding 0.5rem
.p-3
    padding 0.75rem

my_sum_function(a,b,c)
    d = a + b
    d + c

.p-16
    padding my_sum_function(14px, 15px, 7px)